<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFy9DX9NzXW7oh22GBjXtSyozkUdI_7kM</string>
	<key>GCM_SENDER_ID</key>
	<string>989023638121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rwei-app.lala</string>
	<key>PROJECT_ID</key>
	<string>lala-test-610cb</string>
	<key>STORAGE_BUCKET</key>
	<string>lala-test-610cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989023638121:ios:9e13acbf3e1b782640c8f8</string>
</dict>
</plist>